* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    margin-bottom: 0.5rem;
}

h2 {
    font-size: clamp(1rem, 3vw, 1.6rem);
    margin-bottom: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.8rem, 2vw, 2rem);
}

.line1,
.line2 {
    display: flex;
    flex-direction: column;
    gap: clamp(0.8rem, 2vw, 2rem);
}

.btn {
    width: clamp(90px, 20vw, 160px);
    height: clamp(90px, 20vw, 160px);

    border-radius: 20%;
    border: clamp(4px, 0.7vw, 10px) solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: clamp(1.2rem, 3vw, 2rem);
    font-weight: bold;
    cursor: pointer;

    transition: 0.2s;
}

.red {
    background-color: #d95980;
}

.yellow {
    background-color: #f99b45;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}

@media (max-width: 400px) {
    .btn-container {
        gap: 0.5rem;
    }

    .line1,
    .line2 {
        gap: 0.5rem;
    }
}